html, body {
    height: 100%;
}

.error-page {
    font-size: 40px;
    margin-top: 20px;
}

.table-cont {
    margin-top: 20px;
}

.inp-radio label, .inp-radio input{
    cursor: pointer;
}

.add-employee-cont {
    max-width: 100%;
    margin: 12px;
}

.error {
    color: red !important;
    margin: none;
    padding: none;
    border: 1px solid red !important;
}

.radio-error {
    border: 1px solid red !important;
    border-radius: 4px;
}

.inp-auto {
    width: auto;
}

.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

.n-wrap {
    white-space: nowrap;
}

.bg-green, .btn-green {
    background-color: #008542;
    color: white;
}
